@media (min-width: 300px) {
    
    .parent{
        text-align: center;
        max-width: 1500px;
        margin: 0 auto;
    }
    input{
    width: 650px;
    padding: 7px 10px;
    margin-bottom: 15px;
    }
    .button{
        background-color:rgba(23, 166, 214, 0.934);
        border: 1px solid white;
        color: white;
        width: 35px;
        height: 30px;
    }
}